# Referenced from https://github.com/flor14/example-ga-file-dockerhub/blob/main/.github/workflows/publish_docker_image.yml
name: Publish Dockerfile on DockerHub
on:
  push:
    branches:
      - main
    paths:
      - 'Dockerfile'
      - 'environment.yaml'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
      with:
        fetch-depth: '0'

    - name: Bump version and push tag
      uses: anothrNick/github-tag-action@1.52.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        WITH_V: true
        RELEASE_BRANCHES: main
      id: bump

    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
      with:
        tag_name: ${{ steps.bump.outputs.new_tag }}
        release_name: ${{ steps.bump.outputs.new_tag }}
        body: |
          Changes in this Release
          - Rebuilt Docker image and published to DockerHub with new tag
        draft: false
        prerelease: false


    - name: Set up QEMU
        uses: docker/setup-qemu-action@master
        with:
          platforms: all

    - name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@master

    - name: Login to DockerHub
      if: github.event_name != 'pull_request'
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build
      uses: docker/build-push-action@v2
      with:
        builder: ${{ steps.buildx.outputs.name }}
        context: .
        file: ./Dockerfile
        platforms: linux/amd64,linux/arm64/v8
        push: true
        tags: rkrishnanarjun/credit_default_predict:latest,rkrishnanarjun/credit_default_predict:${{ steps.bump.outputs.new_tag }}

